@import '@picocss/pico/scss/pico'; /* To import only what you need from Pico [check the documentaion](https://picocss.com/docs/customization.html) */
/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

@font-face {
	font-family: 'Signifier';
	src: url('/test-signifier-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Soehne';
	src: url('/test-soehne-buch.woff2') format('woff2');
}

:root {
	--font-family: 'Atkinson Hyperlegible', sans-serif;
	--border-radius: 0;
	--form-element-spacing-vertical: 1rem;
	--form-element-spacing-horizontal: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	--font-family: 'Signifier', sans-serif;
	--font-weight: 800;
}

button {
	--font-weight: 600;
}
